[submodule "vector"]
	path = vector
	url = https://github.com/joaoevangelista/vector.git
[submodule "curly-commons"]
	path = curly-commons
	url = https://github.com/crly/curly-commons.git
[submodule "curly-config"]
	path = curly-config
	url = https://github.com/crly/curly-config.git
